name: TDR Deploy Create Database Users Lambda
on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: 'Environment'
        required: true
        options:
          - intg
          - staging
          - prod
        default: 'intg'
      keycloak-to-deploy:
        description: 'Keycloak user version to deploy'
        required: true
      db-to-deploy:
        description: 'DB users version to deploy'
        required: true 
      bastion-to-deploy:
        description: 'Bastion user version to deploy'
        required: true

run-name: Deploying Create Database Users Lambdas ${{inputs.keycloak-to-deploy}}, ${{inputs.db-to-deploy}} and ${{inputs.bastion-to-deploy}} to ${{inputs.environment}}
permissions:
  id-token: write
  contents: write
jobs:
  deploy_keycloak_users:
    uses: nationalarchives/tdr-github-actions/.github/workflows/lambda_deploy.yml@b6ba669dcee7fd4ac089c2e9fb234c48ddd93ab5 # v0.0.15
    with:
      lambda-name: create-keycloak-user
      deployment-package: create-db-users.jar
      environment: ${{ github.event.inputs.environment }}
      to-deploy: ${{ github.event.inputs.keycloak-to-deploy }}
    secrets:
      ACCOUNT_NUMBER: ${{ secrets.ACCOUNT_NUMBER }}
      MANAGEMENT_ACCOUNT: ${{ secrets.MANAGEMENT_ACCOUNT }}
      WORKFLOW_PAT: ${{ secrets.WORKFLOW_PAT }}
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
  deploy_db_users:
    needs: deploy_keycloak_users
    uses: nationalarchives/tdr-github-actions/.github/workflows/lambda_deploy.yml@b6ba669dcee7fd4ac089c2e9fb234c48ddd93ab5 # v0.0.15
    with:
      lambda-name: create-db-users
      deployment-package: create-db-users.jar
      environment: ${{ github.event.inputs.environment }}
      to-deploy: ${{ github.event.inputs.db-to-deploy }}
    secrets:
      ACCOUNT_NUMBER: ${{ secrets.ACCOUNT_NUMBER }}
      MANAGEMENT_ACCOUNT: ${{ secrets.MANAGEMENT_ACCOUNT }}
      WORKFLOW_PAT: ${{ secrets.WORKFLOW_PAT }}
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
  deploy_bastion_user:
    needs: deploy_db_users
    uses: nationalarchives/tdr-github-actions/.github/workflows/lambda_deploy.yml@b6ba669dcee7fd4ac089c2e9fb234c48ddd93ab5 # v0.0.15
    with:
      lambda-name: create-bastion-user
      deployment-package: create-db-users.jar
      environment: ${{ github.event.inputs.environment }}
      to-deploy: ${{ github.event.inputs.bastion-to-deploy }}
    secrets:
      ACCOUNT_NUMBER: ${{ secrets.ACCOUNT_NUMBER }}
      MANAGEMENT_ACCOUNT: ${{ secrets.MANAGEMENT_ACCOUNT }}
      WORKFLOW_PAT: ${{ secrets.WORKFLOW_PAT }}
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
